.innerpopupcookies input[type="radio"]{width: unset!important; height: unset!important; opacity: 1!important; position: unset!important; left: unset!important; }
.closecpopup.acceptcookies, .cookies_container .closecsettingstext, .aboutcookieslink .closecpopup{background-color:#000;}
.aboutcookieslink >div{color:#fff}
.bottomfooter{display:block; width:50%; border-radius:4px;  position:fixed; height:auto; padding:29px 0px 16px; background-color:rgba(99, 99, 99, 0.9); bottom:60px; left:10px; z-index:10000;}
.forcereload{display:block; width:100%; height:100%; top:0px; left:0px; z-index:9999;position:fixed;}
.cookies_container, .cookies_container p, .cookies_container p a, .cookies_container a, .cookies_container strong, .cookies_container li { color:#fff!important; font-size:14px!important; line-height:20px!important; margin-bottom:0px; margin-top:0px;}
.cookies_container p a{text-decoration:underline !important;}
.cookies_container{padding:0px 28px; }
.cookies_container h1, .cookies_container h2, .cookies_container h3{display:block; font-size:26px!important; color: #fff!important; }
.popupcookiessettings, .popupcookies, .popupcookiesabout, .youtubepopup {display:block; position:fixed; width:100%; height:100%; top:0px; z-index:10000; background-color: rgba(0,0,0,0.85);}
.innerpopupcookies{display:block; max-width:800px; padding:50px 70px 50px 50px; background-color:rgba(99, 99, 99, 0.9); top:calc(50% - 300px); left:calc(50% - 400px); position:absolute; width:800px;}
.closenotice, .closeerrorvideo{display:block; position:absolute;	bottom: -50px; left:50px; width:40px; height:40px; background-color:rgba(99, 99, 99, 0.9); background-position:center; background-repeat:no-repeat; border-radius:50%; background-image: url(./img/x.png); background-position:center;  line-height:40px; color:#fff; font-size:32px; text-align:center; cursor:pointer;}
.popupcookiesabout .innerpopupcookies .cookies_container{max-height:500px; overflow:auto; padding-right:20px;}
.innerpopupcookies .cookies_container, .innerpopupcookies .cookies_container p{padding:0px;}
.hidenotice, .hide-for-visitors-only{display:none !important;}

.bottomfooter .acceptcookies{margin-left: 50px;}

.popuplinks, .cookiesettingscheckboxes{  margin-top: 30px;  border-top: 1px solid #fff;   padding-top: 10px; }
.popuplinks > div{display:inline-block; font-weight:bold; cursor:pointer; }
.closecpopup{float:right; }
.csettingsbutton{display:block; cursor:pointer; height:40px; width:40px; background-color:rgba(99, 99, 99, 0.9);  border-radius:50%; opacity:0.7; transition:0.5s all; position:fixed; bottom:10px; left:10px; z-index:10000; cursor:pointer; background-image:url("./img/Cookie-white.svg"); background-position:10px center;  background-size: 22px;    background-repeat: no-repeat;  }
.csettingsbutton:hover{opacity:1;}
.csettingsradio{display:block; font-size:14px; color:#fff; margin-top:15px;}
.csettingsradio span, .csettingscb span{ font-size:16px !important; color:#fff !important; margin-left:4px;}
.justsomecookies{display:none; padding-left:40px;}
.justsomecookies.show{display:block;}
.choosesome{margin-top:10px; margin-bottom: 5px}
.csettingscb{display:block; margin-bottom:5px; position: relative; }
.closecsettingstext{margin-top:30px; padding-bottom:2px; font-weight:bold; text-decoration:underline; font-size:22px; cursor:pointer; }
.aboutcookieslink{margin-top:30px; padding-bottom:2px; font-weight:bold; text-decoration:underline; font-size:13px; text-transform:uppercase; color:#fff;  cursor:pointer;  display: inline-block; }
.aboutcookieslink >div{margin-top:5px;  }
.popupcookiesabout .cookies_container::-webkit-scrollbar-track{	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);	border-radius: 10px;	background-color: #eee;}
.popupcookiesabout .cookies_container::-webkit-scrollbar{	width: 12px;	background-color: #eee;}
.popupcookiesabout .cookies_container::-webkit-scrollbar-thumb{	border-radius: 10px;	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);	background-color: #fff;}
.popuplinks .opencookiesettings { padding-left: 25px; background-image: url('./img/cookies.png'); background-position: left center;  background-size: 22px;  background-repeat: no-repeat;  text-decoration: underline !important;  font-size: 18px;  font-weight: normal;  margin-top: 13px; }
/*.popuplinks .opencookiesettings{ border-radius:50%; background-position:left center;     background-size: 22px;    background-repeat: no-repeat; text-decoration: underline !important;    font-size: 13px;    font-weight: normal; margin-top:13px;  }*/
.avia-mac .popuplinks .opencookiesettings{padding-top:5px; margin-top:5px;}
.makethisabutton{display:inline-block; padding:10px 30px; background-color:#ff5000; text-decoration:none !important; font-size:18px !important;}
.avia-mac .makethisabutton{ padding:10px 30px 5px; }
.cookiesettext{padding-left:45px; line-height:45px; max-width:45px; color:#fff; font-size:18px; padding:0px 0px 0px 45px; display:block; transition:0.3s all; overflow:hidden;}
.avia-mac .cookiesettext{ padding:3px 0px 0px 45px; }
.opencookiesettings:hover .cookiesettext{max-width:300px; padding-right:10px;}
.youtubepopup{color:#fff; font-size:18px;}
.youtubepopup a{color:#ff5000; float:right;  display:block; }
.bgreplace{display:block; width:100%; height:100%; position:relative; background-position:center top; background-repeat:no-repeat; }
.novideolink{margin-bottom:15px}
.youtubepopup .opencookiesettings{cursor:pointer; text-decoration:underline;}
.single-privacy-policies main p, .single-privacy-policies main li, .single-privacy-policies main ul, .single-privacy-policies main p, .single-privacy-policies main li, .single-privacy-policies main ul{	font-size: 20px;	line-height: 28px;	font-family: 'helvetica-thin';	color: #646e74 !important;}
.single-privacy-policies main h2{	margin-top: 40px;	line-height: 26px;	font-size: 26px;	color: #ff5000!important;	font-family: 'helvetica-thin';}
.single-privacy-policies main ul li {	margin-bottom:8px;}
.single-privacy-policies main ul {	list-style: disc outside;}
.legal_notes_wrapper{    font-size: 20px;    line-height: 28px;    font-family: 'helvetica-thin';    color: #646e74 !important;}
#selectppolicy{font-size:15px !important;}
.ppnoticebar{background-color:#000; color:#fff; padding:3px 0px;}
.ppnoticebar a{color:#f50 !important; display:inline-block; margin-left:10px;}
.closeprivacy{display:inline-block; float:right; height:25px; width:25px; border:2px solid #fff; border-radius:50%; text-align:center; line-height:22px; cursor:pointer;}
.privacynotice{position: fixed;    top: 0px;    z-index: 10000000000; display:block; width:100%;font-size: 16px;    line-height: 30px;}
html.withprivacy{margin-top:30px !important;}
.aboutcookieslink .closecpopup{line-height:36px; padding:0px 25px; border-radius:4px; }
.innerpopupcookies .closenotice{bottom:auto; left:auto; right:10px; top:10px; background-color:transparent;}
.cookies_container h3{font-size:20px!important; line-height:25px!important; color:#fff!important;}
.closecpopup.acceptcookies , .cookies_container .closecsettingstext{display:inline-block; line-height:36px; text-decoration:none; padding:0px 25px; border-radius:0px;  font-size:17px;}
/* TOOLTIP */
.tooltip-ow { padding-left: 40px; padding-top: 5px; padding-bottom: 5px; position: relative; overflow: hidden; background-image: url("img/information.svg"); background-repeat: no-repeat; background-position: right; padding-right: 35px; display: inline-flex; background-size: 20px; }
.tooltip-no-questionmark {background-image: none;}
.tooltip-ow:hover { overflow: visible; }
.tooltip-ow:hover .tooltip-content { opacity: 1; }
.tooltip-ow .tooltip-content {	background: dimgray;	box-sizing: border-box;	color: #ffffff;	font-size: 13px!important;	line-height: 1.4;	letter-spacing: 0.5px;	max-width: 380px;	width: 380px;	min-width: 145px;	padding: 1em;	position: absolute;	opacity: 0;	transition: all .3s ease; }
.tooltip-ow .tooltip-content::after {	background: dimgray;	content: "";	height: 10px;	position: absolute;	-webkit-transform: rotate(45deg);	transform: rotate(45deg);	width: 10px; }
.tooltip-ow.right-ow .tooltip-content {	left: calc(100% + 1.5em);	top: 50%;	-webkit-transform: translateY(-50%);	transform: translateY(-50%);   z-index: 999; }
.tooltip-ow.right-ow .tooltip-content::after {	left: -5px;	margin-top: -5px;	top: 50%; }



@media only screen and (max-width: 980px)  {
.csettingsbutton{left:0px; bottom: 0px; border-radius: 0%; height:35px; width:35px; background-size:25px; background-position:center; }
.innerpopupcookies{max-width:85%; width:85%; left:7.5%; top:80px;}
.cookiesettext{padding:0px 0px 0px 45px;}
.justsomecookies{padding-left:30px;}
.popupcookiessettings, .popupcookies, .popupcookiesabout, .youtubepopup {overflow-y: scroll;}
.csettingscb{display:inline-flex;}
.tooltip-ow.right-ow .tooltip-content{left: 0;  top: 0; transform: translate(-25%, -103%); -webkit-transform: translate(-25%, -103%); width: calc(100vw); }
.tooltip-ow.right-ow .tooltip-content::after{left: 50%; top: 100%;}
.popuplinks{display: flex; flex-flow: wrap-reverse; justify-content: center; flex-direction: column;}
.bottomfooter .acceptcookies{margin-left: 0px}
}
	
@media only screen and (max-width: 767px)  {
	.cookies_container{padding:0px 20px 0px 20px;}
	.cookies_container p{padding:0px 0px;}
	.innerpopupcookies{padding:20px}
	.bottomfooter{width: 95%}
	/*.opencookiesettings{ margin-bottom: 15px}*/

}

@media only screen and (max-width: 480px)  {
	
	.innerpopupcookies, .popupcookiesabout .innerpopupcookies{top:10px;}
	
}

/* Custom toggle - disable radio buttons */
.csettingscb input { opacity: 0; /*width: 0; height: 0;*/ }

/* The slider */
.slider {	position: absolute;	cursor: pointer;	top: 4px;	left: 0;	right: 0;	bottom: 0;	background-color: #ccc;	-webkit-transition: .4s;	transition: .4s;	width: 40px;	height: 20px;	border-radius: 34px; }
.slider:before {	position: absolute;	content: "";	height: 20px;	width: 20px;	left: 0px;	bottom: 0px;	background-color: white;	-webkit-transition: .4s;	transition: .4s;	border-radius: 50%; }
input:checked + .slider {	background-color: #13bf11; }
input:focus + .slider {	box-shadow: 0 0 1px #13bf11; }
input:checked + .slider:before {	-webkit-transform: translateX(23px);	-ms-transform: translateX(23px);	transform: translateX(23px); }

/* Priv CTA Button */
body .popupcookies .popuplinks .cta-cookie-button{  position: relative;  text-transform: uppercase;  text-decoration: none;  padding: 0.5em 1em;  line-height: 30px;  border-radius: 0px;  font-size: 17px;  margin-top: 0px; }

